// ==========================
// Grid specific code - do not touch
// See project code below this section
// ==========================

$base-font-size: 16px;
$gutter: 24px;

$breakpoints: (
  palm: '(max-width: 480px)',
  ipad: '(max-width: 763px)',
  med:'(max-width: 850px)',
  lap: '(min-width: 481px) and (max-width: 1023px)',
  desk: '(min-width: 1024px)',
  portable: '(max-width: 1023px)',
  large: '(min-width: 481px)'
);

*, *:before, *:after {
  box-sizing: border-box;
}

.grid {
  font-size: 0;
  margin-left: $gutter * -1;
  & > * {
    padding-left: $gutter;
    text-align: left;
    vertical-align: top;
    display: inline-block;
    font-size: $base-font-size;
    direction: ltr;
  }
}

.grid--middle {
  & > * {
    vertical-align: middle
  }
}

.grid--right {
  text-align: right;
}

.grid--center {
  text-align: center;
}

.grid--rev {
  direction: rtl;
}

@mixin grid-item($width:1, $total:1, $breakpoint:'') {
  $itemWidth: $width / $total * 100%;
  @if $breakpoint != '' {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
         .grid-#{$width}of#{$total}--#{$breakpoint} {
           width: $itemWidth;
      }
    }
  } @else {
    .grid-#{$width}of#{$total} {
      width: $itemWidth;
    }
  }
}

@include grid-item(1, 3);